In [5]:
import os
i = 0
for i in range(0, 25):
    os.mkdir('/Users/nandhinee_pr/sign/valid/' + str(i))
    i+= 1

In [1]:
import csv
import pandas as pd
data = pd.read_csv('/Users/nandhinee_pr/Downloads/sign-language-mnist/sign_mnist_test.csv')
data.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,6,149,149,150,150,150,151,151,150,151,...,138,148,127,89,82,96,106,112,120,107
1,5,126,128,131,132,133,134,135,135,136,...,47,104,194,183,186,184,184,184,182,180
2,10,85,88,92,96,105,123,135,143,147,...,68,166,242,227,230,227,226,225,224,222
3,0,203,205,207,206,207,209,210,209,210,...,154,248,247,248,253,236,230,240,253,255
4,3,188,191,193,195,199,201,202,203,203,...,26,40,64,48,29,46,49,46,46,53

In [2]:
df = data.loc[[0]]
value =df['label'].values[0]
df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,6,149,149,150,150,150,151,151,150,151,...,138,148,127,89,82,96,106,112,120,107

In [3]:
data.shape

(7172, 785)

In [4]:
data.label.unique()

array([ 3,  6,  2, 13, 16,  8, 22, 18, 10, 20, 17, 19, 21, 23, 24,  1, 12,
       11, 15,  4,  0,  5,  7, 14])

In [6]:
from PIL import Image
import numpy as np
import cv2
count = 0

for int1 in range(0,7171):
    df = data.loc[[int1]]
    label =df['label'].values[0]
    
    i = 1
    temp = ''
    while(i<=784):
        value =df['pixel' + str(i)].values[0]
        temp += str(value) + ','
        i+=1
    temp=temp[:-1]
    
    li = list(temp.split(",")) 

    listoflists = []
    temp_list = []

    for i in range(0,len(li)):
        li[i] = int(li[i])

    i =0
    k =0
    for i in range(0,28):
        temp_list = []
        j = 0
        while j <28:
            temp_list.append(li[k])
            k+=1
            j+=1
        listoflists.append(temp_list)
        
    pixels = listoflists
    array = np.array(pixels, dtype=np.uint8)
    new_image = Image.fromarray(array)
    
    new_image.save('/Users/nandhinee_pr/sign/valid/' + str(label) + '/img' + str(count) + '.jpg')
    count +=1